<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Member</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container1">
        <h1>Add Member</h1>
        <form action="{% url 'add_member' %}" method="post">
            {% csrf_token %}

            <!-- Affiche les erreurs si elles existent -->
            {% if form.errors %}
            <div class="error">
                <p>Please correct the errors below:</p>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {{ form.as_p }} <!-- Utilisation du formulaire Django -->

            <button type="submit" id="new">Submit</button>
        </form>
    </div>
</body>

</html>
